<ul class="movie-cards">
    {{#each this}}
    <li class="itemCard" data-movieID="{{id}}">
        <a href="#" class="" data-movieID="{{id}}"></a>
        <a href="#id={{id}}" onclick="location.replace('#id={{id}}')">
            {{!-- <a href="#" class="" data-movieID="{{id}}"></a>
        <a href="{{id}}" onclick="locatio('{{id}}')"> --}}
            {{#if backdrop_path}} <img src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" id="{{id}}" alt="filmImg">
            {{else}} <img src=`https://image.tmdb.org../../images/no_image.jpg` id="{{id}}" alt="filmImg">
            {{/if}}
            <h2 class="libraryItem__title">{{title}} ({{release_date}})</h2>
            <h2 class="libraryItem__vote">{{vote_average}}</h2>
        </a>
    </li>
    {{/each}}
</ul>